.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    color: #2c3143;
  }

  &__close {
    width: 14px;
    height: 14px;
    background-image: url(./close-icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
